body {
	display:flex;
	justify-content:center;
	text-align: center;
	background-color: black;
	font-family: 'Cabin Sketch', cursive;
}
canvas,body,html{
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}